# INDIAN STARTUP ECOSYSTEM

## Description; 

This is an investigation into the Indian startup ecosystem. In this project are going to analyze funding received by Startups in India from 2018 to 2021 and we will determine if the Indian Startup is worth venturing into.

# Business Understanding

### Objective
The objective of this investigation is to analyze the Indian startup ecosystem with a focus on understanding the funding dynamics between 2018 and 2021. Specifically, the goal is to determine if startups with multiple founders raise more money compared to those with a single founder. This analysis will also explore various factors such as the average funding amount across different cities, the distribution of investments across sectors, and the funding amounts at different stages of startup growth.

### Hypothesis Statements
#### Null Hypothesis (H0):
Startups with multiple founders tend to raise significantly more money than those with a single founder.

#### Hypothesis (H1):
Startups with multiple founders do not  raise significantly more money than those with a single founder.


### Analytical questions; 

Question 1: What is the average funding amount for startups based in different cities? 

 

Question 2: How does the total investment compare across different sectors? 

Which sectors have received the most and least funding? 

 

Question 3: What is the distribution of investment amounts across different stages of funding? 

How does the funding amount differ between Seed, Pre-series, Series A, Series B, etc.? 

 

Question 4: Is there a significant difference in the amount of funding received by companies with single founders versus multiple founders? 

What is the average funding for single-founder startups compared to multi-founder startups? 

 

Question 5: How does the age of the company (years since founding) relate to the stage of funding? 

Are newer companies more likely to be in the Seed or Pre-series stage? 

 

Question 6: What is the distribution of funding amounts within specific sectors? 

For example, within HealthTech or FinTech, how are the investments distributed? 

 

Question 7: What are the common investors in different sectors and stages? 

Are there any investors that frequently appear across multiple companies or sectors? 

 

Question 8: How many companies are in each stage of funding? 

What is the proportion of companies in Seed, Pre-series, Series A, Series B, etc.? 

 

Question 9: How does the number of founders correlate with the stage of funding? 

Are there more single-founder companies in the early stages of funding compared to later stages?

## Data Understanding

In [41]:
#Importing neccessary libraries
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import warnings
import numpy as np

warnings.filterwarnings('ignore')

In [42]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [43]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [44]:
connection = pyodbc.connect(connection_string)

In [45]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = '''SELECT * FROM LP1_startup_funding2020'''

df20 = pd.read_sql(query, connection)
df20.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [46]:
df20['Amount'] = df20['Amount'].astype(str)
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         1055 non-null   object
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(1), object(9)
memory usage: 82.6+ KB

In [47]:
query = '''SELECT * FROM LP1_startup_funding2021'''

df21 = pd.read_sql(query, connection)
df21.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [48]:
##importing data from otheer souces
df18 = pd.read_csv('startup_funding2018.csv')
df19 = pd.read_csv('startup_funding2019..csv')

df18.head()

#df19.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [49]:
# Define a function to determine the currency
def determine_currency(amount):
    if '₹' in amount:
        return 'rupee'
    else:
        return 'dollar'

# Add a new column 'currency' to the DataFrame
df18['currency'] = df18['Amount'].apply(determine_currency)

# Print the first 5 rows of the DataFrame
df18.head()

df18['Amount']=df18['Amount'].str.replace('₹','')
df18['Amount']=df18['Amount'].str.replace(',','')
df18['Amount'] = pd.to_numeric(df18['Amount'], errors='coerce')

# Filter the DataFrame to include only rows with 'Rupees'
rupees_df = df18[df18['currency'] == 'rupee']

# Example modification: converting amounts to dollars in rupees_df
conversion_rate = 70  # 70 Rupees to 1 Dollar
rupees_df['Amount'] = round((rupees_df['Amount'] / conversion_rate),2)


# Display the new DataFrame
rupees_df.head()

# Remove the original rows with 'Rupees' from the original DataFrame
df18 = df18[df18['currency'] != 'rupee']

# Concatenate the modified rupees_df back to the original DataFrame
updated_df = pd.concat([df18, rupees_df], ignore_index=True)

# Display the updated DataFrame
updated_df

,Company Name,Industry,Round/Series,Amount,Location,About Company,currency
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.00,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",dollar
1,PayMe India,"Financial Services, FinTech",Angel,2000000.00,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,dollar
2,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,dollar
3,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000.00,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,dollar
4,Freightwalla,"Information Services, Information Technology",Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,dollar
...,...,...,...,...,...,...,...
521,Nykaa,"Beauty, Fashion, Wellness",Secondary Market,16142857.14,"Mumbai, Maharashtra, India",Nykaa.com is a premier online beauty and welln...,rupee
522,Chaayos,"Food and Beverage, Restaurants, Tea",Series B,11571428.57,"New Delhi, Delhi, India",Chaayos was born in November 2012 out of this ...,rupee
523,LT Foods,"Food and Beverage, Food Processing, Manufacturing",Post-IPO Equity,20000000.00,"New Delhi, Delhi, India",LT Foods believe that nature will continue to ...,rupee
524,Multibashi,"E-Learning, Internet",Seed,142857.14,"Bengaluru, Karnataka, India",Free language learning platform.,rupee
525,Droni Tech,Information Technology,Seed,500000.00,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,rupee

In [50]:
df18 = updated_df

df18 = df18.drop(['currency'],axis = 1)

df18

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.00,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,PayMe India,"Financial Services, FinTech",Angel,2000000.00,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
2,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
3,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000.00,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...
4,Freightwalla,"Information Services, Information Technology",Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...
...,...,...,...,...,...,...
521,Nykaa,"Beauty, Fashion, Wellness",Secondary Market,16142857.14,"Mumbai, Maharashtra, India",Nykaa.com is a premier online beauty and welln...
522,Chaayos,"Food and Beverage, Restaurants, Tea",Series B,11571428.57,"New Delhi, Delhi, India",Chaayos was born in November 2012 out of this ...
523,LT Foods,"Food and Beverage, Food Processing, Manufacturing",Post-IPO Equity,20000000.00,"New Delhi, Delhi, India",LT Foods believe that nature will continue to ...
524,Multibashi,"E-Learning, Internet",Seed,142857.14,"Bengaluru, Karnataka, India",Free language learning platform.
525,Droni Tech,Information Technology,Seed,500000.00,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...

In [51]:

df18['fundyear'] = 2018
df18.columns = ['Company_Brand','Sector','Stage', 'Amount', 'HeadQuarter', 'What_it_does','fundyear']     
df18.info()
df18.describe()
df18.isnull().sum()

df18.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Sector         526 non-null    object
 2   Stage          526 non-null    object
 3   Amount         319 non-null    float64
 4   HeadQuarter    526 non-null    object
 5   What_it_does   526 non-null    object
 6   fundyear       526 non-null    int64
dtypes: float64(1), int64(1), object(5)
memory usage: 28.9+ KB

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,fundyear
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
2,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018
3,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000.0,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,2018
4,Freightwalla,"Information Services, Information Technology",Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,2018

In [52]:
#making changes to dataframes before concatenating 
df19['fundyear'] = 2019
df20['fundyear'] = 2020
df21['fundyear'] = 2021

data = pd.concat([df18,df19, df20, df21], ignore_index=True)
data.drop('column10', axis=1, inplace=True)
data.tail()

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,fundyear,Founded,Founders,Investor
2874,Gigforce,Staffing & Recruiting,Pre-series A,$3000000,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2875,Vahdam,Food & Beverages,Series D,$20000000,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC
2876,Leap Finance,Financial Services,Series C,$55000000,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2877,CollegeDekho,EdTech,Series B,$26000000,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2878,WeRize,Financial Services,Series A,$8000000,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [53]:
print(data.info())
print(data.describe())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2669 non-null   object
 4   HeadQuarter    2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   fundyear       2879 non-null   int64
 7   Founded        2110 non-null   float64
 8   Founders       2334 non-null   object
 9   Investor       2253 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 225.1+ KB
None
          fundyear      Founded
count  2879.000000  2110.000000
mean   2020.023619  2016.079621
std       1.086974     4.368006
min    2018.000000  1963.000000
25%    2020.000000  2015.000000
50%    2020.000000  2017.000000
75%    2021.000000  2019.000000
max    2021.000000  2021.000000
Company_Brand      0
Sector            18
Stage            938
Amount           210
HeadQuarter      114
What_it_does       0
fundyear           0
Founded          769
Founders         545
Investor         626
dtype: int64

In [54]:
#data['Amount'].unique()
data['Amount'] = data['Amount'].astype(str)
data['Amount'] = data['Amount'].str.replace('₹','')
data['Amount'] = data['Amount'].str.replace(',','')
data['Amount'] = data['Amount'].str.replace('$','')
data['Amount'] = pd.to_numeric(data['Amount'], errors='coerce')

data.head()

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,fundyear,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
2,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN
3,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000.0,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,2018,NaN,NaN,NaN
4,Freightwalla,"Information Services, Information Technology",Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,2018,NaN,NaN,NaN

In [57]:
data['Sector'].unique()
data['Sector'] = data['Sector'].astype(str)

def clean_sector(sector):
    # Split the sector into individual items, trim whitespaces, and convert to lower case
    sectors = [item.strip().lower() for item in sector.split(',')]
    
    # Standardize similar terms
    standardization_dict = {
        'fintech': 'financial technology',
        'saas': 'software as a service',
        'paas': 'platform as a service'
    }
    
    standardized_sectors = [standardization_dict.get(sec, sec) for sec in sectors]
    
    # Remove duplicates
    unique_sectors = list(set(standardized_sectors))
    
    # Capitalize each word for consistency
    cleaned_sectors = ', '.join([sec.title() for sec in unique_sectors])
    
    return cleaned_sectors

data['Sector'] = data['Sector'].apply(clean_sector)

categories = {
    'Technology': ['Artificial Intelligence', 'Internet', 'Technology', 'Information', 'Network', 
                   'Big Data', 'Machine Learning', 'Search Engines', 'Online Portals','Edtech','Insurtech','Cloud Infrastructure'
                   'Industrial Automation','Mobile Payments','Developer Platform','Developer Tools','E-','Cloud Computing','Cloud','tech',
                   'Tech','AI','Ai','Computer','Ev','Electronics','Software','IT',],
    'Finance': ['Financial Services', 'Credit Cards', 'Banking', 'Investment', 'Insurance'],
    'Energy': ['Electric Vehicle', 'Battery Energy', 'Renewable Energy', 'Solar', 'Wind', 'Energy'],
    'Transportation': ['Transportation', 'Logistics', 'Automobile', 'Travel','Transport','Auto'],
    'Food & Beverage': ['Food and Beverage', 'Restaurant', 'Cafe', 'Catering','Food & Beverage','Food Delivery', 'Food','Beverages'],
    'Health': ['Health', 'Healthcare', 'Hospital', 'Personal Health','Wellness'],
    'Education': ['Education', 'School','Day Care']
}

# Function to categorize sectors
def categorize_sector(sector):
    for category, keywords in categories.items():
        if any(keyword in sector for keyword in keywords):
            return category
    return 'Other'  # Default category if no keywords match

# Apply the function to the dataframe
data['category'] = data['Sector'].apply(categorize_sector)

data.sample(10)

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,fundyear,Founded,Founders,Investor,category
2162,ReDesyn,Merchandise,Pre-series A,300000.0,Mumbai,Merchandise drop-shipping platform for influen...,2021,2016.0,"Smriti Dubey, Shikhar Vaidya",Anthill Ventures,Other
878,MikeLegal,Legaltech,Seed,NaN,Gurugram,MikeLegal is an AI powered legal associate tha...,2020,2017.0,"Tushar Bhargava, Anshul Gupta","SOSV, Artesian",Technology
1053,BuildPan,Saas Startup,Seed,500000.0,Indore,"Buildpan helps you with continuous build, deve...",2020,2019.0,"Sonal Dandotia, Shantanu S, Virendra Chouhan, ...","Sunil Kumar Singhvi, Yusho Kawata",Other
934,Classplus,Edtech,None,10000000.0,Noida,Classplus offers a mobile-first SaaS platform ...,2020,2018.0,"Bhaswat Agarwal, Bikash Dash, Mukul Rustagi, V...","Spiral Ventures, Surge",Technology
2422,NewLink Group,Tech Startup,None,200000000.0,Beijing,Developer of an energy management and transpor...,2021,2016.0,"Yang Wang, Zhen Dai",Bain Capital,Technology
1176,Vegrow,Agritech,Seed Round,2500000.0,Bangalore,It is building an asset-light farm by partneri...,2020,2020.0,"Praneeth Kumar, Shobhit Jain, Mrudhukar Batchu...","Matrix Partners India, Ankur Capital",Technology
2350,Plutomen,Ar Startup,None,300000.0,Ahmadabad,Plutomen Technologies Pvt Ltd founded in Nov 2...,2021,2016.0,Keyur Bhalavat,"GUSEC Seed Fund, DeVX Venture Fund",Other
283,HealthifyMe,"Health Care, Fitness, Apps, Mhealth",Series B,NaN,"Bangalore, Karnataka, India",HealthifyMe is an application that allows its ...,2018,NaN,NaN,NaN,Health
2101,Knocksense,Media,None,200000.0,Lucknow,Knocksense which owns and operates an eponymou...,2021,2016.0,"Varul Mayank, Vibhore Mayank, Vibhore Mayank","Mumbai Angels, Amitesh Pandey",Other
2656,Open Financial Technologies,Financial Services,Series C,90000000.0,Bangalore,Open is Asia’s first neobanking platform for S...,2021,2017.0,Anish Achuthan,"Temasek, Google, SBI Investment",Finance

# Column Descriptions
Company_Brand:

Description: The name of the startup or company that received funding.
Type: String
Example: "Flipkart", "Ola", "Zomato"
Sector:

Description: The industry or sector in which the startup operates.
Type: String
Example: "E-commerce", "Transportation", "Food Delivery"
Stage:

Description: The stage of funding the startup is in at the time of receiving the investment. This could range from Seed stage to various series stages (e.g., Series A, Series B, etc.).
Type: String
Example: "Seed", "Series A", "Series B"
Amount:

Description: The amount of funding received by the startup. The amounts can be in different currencies (e.g., dollars or rupees) and need to be standardized.
Type: Numeric (after cleaning)
Example: 6300000, 150000000, 28000000
HeadQuarter:

Description: The city or location where the startup's headquarters are based.
Type: String
Example: "Bangalore", "Mumbai", "Delhi"
What_it_does:

Description: A brief description of the startup's main product or service offering.
Type: String
Example: "Online marketplace", "Ride-hailing service", "Food delivery service"
fundyear:

Description: The year in which the funding was received.
Type: Integer
Example: 2018, 2019, 2020
Founded:

Description: The year the startup was founded.
Type: Integer
Example: 2010, 2015, 2017
Founders:

Description: The names of the founders of the startup. This could be a single founder or multiple founders.
Type: String (potentially a list if multiple founders)
Example: "Sachin Bansal, Binny Bansal", "Bhavish Aggarwal", "Deepinder Goyal, Pankaj Chaddah"
Investor in:

Description: The names of the investors or investment firms that have invested in the startup.
Type: String (potentially a list if multiple investors)
Example: "Tiger Global, SoftBank", "Sequoia Capital", "Accel Partners"

In [63]:
data['Founders']

0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
                    ...
2874      Chirag Mittal, Anirudh Syal
2875                       Bala Sarda
2876       Arnav Kumar, Vaibhav Singh
2877                     Ruchir Arora
2878    Vishal Chopra, Himanshu Gupta
Name: Founders, Length: 2879, dtype: object

In [67]:
def count(founder):
    if pd.isna(founder) or founder == '':
        return 'unknown'
    elif ',' in founder:
        return 'multiple'
    else:
        return 'single'

data['founder_count'] = data['Founders'].apply(count)

data.sample(10)

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,fundyear,Founded,Founders,Investor,category,founder_count
1377,Bugworks,Biopharma,None,7.500000e+06,Bangalore,A drug discovery company that aims to discover...,2020,2014.0,Anand Anandkumar,"University of Tokyo Edge Capital, Global Brain...",Other,single
998,WeInnovate Biosolutions,Startup Laboratory,Seed,NaN,Pune,Startup working dedicatedly in the area of hea...,2020,2016.0,"Dr Milind Choudhari, Dr Prasad Bhagat, and Dr ...",Chiratae ventures,Other,multiple
1984,OneCard,Financial Services,None,7.600000e+07,Pune,"India's finest and smartest metal credit card,...",2021,2019.0,"Rupesh Kumar, Anurag Sinha, Vibhav Hathi","Ocean View Investment, QED Fund",Finance,multiple
467,arzooo.com,"E-Commerce Platforms, Electronics, Shopping, C...",Seed,2.142857e+05,"Bangalore, Karnataka, India",E-commerce website promising the best price on...,2018,NaN,NaN,NaN,Technology,unknown
611,Oyo,Hospitality,NaN,6.930000e+08,Gurugram,Provides rooms for comfortable stay,2019,2013.0,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",Health,single
1345,Biryani By Kilo,Food,Series B,7.900000e+05,Delhi,Online paltform to order biryani,2020,NaN,Vishal Jindal,"Devanshu Dolat Desai, Anand M Khatau, Debasish...",Food & Beverage,single
2864,Neokred,Financial Technology,Seed,5.000000e+05,Bangalore,Democratizing Open Banking,2021,2019.0,"Tarun Nazare, Rohith Reji","Virenxia Group, Rajesh Jain, Nitin Agarwal",Technology,multiple
1337,Varthana,Financial Technology,Series D,1.500000e+07,Bangalore,Offers secured and unsecured loans,2020,NaN,Steve Hardgrave,ChrysCapital,Technology,single
1069,SOAL,Edtech,Series A-1,1.000000e+06,Mumbai,A skill-tank nurturing students into disruptiv...,2020,2017.0,"Pratik Agarwal, Raj Desai, Varsha Bhambhani","Krishnan Menon, Srinivas Kollipara",Technology,multiple
214,Cash Suvidha,Finance,Seed,1.000000e+06,"New Delhi, Delhi, India",Cash Suvidha is an Digital Lending Platform th...,2018,NaN,NaN,NaN,Other,unknown